body {
    margin: 0;
    padding: 0;
    background-color: rgb(228, 194, 149);
    display: flex;
    flex-direction: column;
    gap: 45px;
    min-height: 100vh;
    opacity: 1;
    animation: opacity 1.5s ease-in-out;
    position: relative;
    z-index: 10;
}


@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: white;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7e582d;
    padding: 0 20px;
    animation: down 0.8s ease-out;
}

@keyframes down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu {
    display: none;
}

.menu button {
    background-color: #b98c55;
    color: white;
    border: none;
    font-size: 1.5rem;
    border-radius: 50%;
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
}

.menu button:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    background-color: bisque;
}

.logo img {
    width: 150px;
    height: 75px;
    animation: logo 2s ease-in-out;
}

@keyframes logo {
    0% {
        transform: translateX(1000px) scale(10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%) scale(100%);
        opacity: 1;
    }
}



.logo:hover {
    transform: scale(1.3);
    transition: all 0.5s ease;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #683e05;
    width: 120px;
    text-align: center;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: nav 1.5s ease-in-out;
    position: relative;

}

nav a::before {
    content: "";
    position: absolute;
    width: 0px;
    border-top: 2px solid white;
    bottom: 10px;
    left: 10px;
    transition: all 0.5s ease;
}

nav a:hover::before {
    width: 80%;
}

@keyframes nav {
    0% {
        transform: translateX(-1000px) scale(10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%) scale(100%);
        opacity: 1;
    }
}

nav a:hover {
    background-color: #b98c55;
    transition: all 0.5s ease;
    transform: scale(1.1);
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: max-content;
    margin: 0 auto;
    animation-name: head;
    animation-duration: 2s;

}

@keyframes head {
    0% {
        transform: translateY(-300%) scale(10%);
    }

    100% {
        transform: translateY(0%) scale(100%);
    }
}

.head:hover h1 {
    transform: scale(1.2) rotate(3deg);
    transition: all 0.5s ease-in-out;
}

h1 {
    color: #68500d;
    font-size: 3rem;
    border: 3px solid #68500d;
    border-radius: 50%;
    padding: 20px;
    background-color: bisque;
    position: relative;
    box-shadow: 1px 1px 10px black;
}

h1::first-letter{
    font-size: 3.5rem;
}

h1::before {
    content: "★";
    font-size: 2rem;
    position: absolute;
    left: -40px;
    color: #68500d;
    animation: rotate 2s linear infinite;
}

h1::after {
    content: "★";
    font-size: 2rem;
    position: absolute;
    right: -40px;
    color: #68500d;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.container {
    max-width: 1200px;
    justify-items: center;
    align-items: center;
    gap: 35px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 10px 10px 20px black;
    width: 300px;
    height: 500px;
    padding: 0 20px;
    gap: 10px;
    background-color: bisque;
    transition: all 0.5s ease;
    position: relative;
}


.box:hover::before {
    height: 100%;
}


.box h3 {
    position: relative;
}

.box p {
    text-align: center;
    color: black;
    font-weight: 400;
}

.box h3::before {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 2px solid white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
}

.box:hover h3::before {
    width: 100%;
}

.box h3::after {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 2px solid white;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s ease;
}

.box:hover h3::after {
    width: 100%;
}

.porsche {
    animation-name: porsche;
    animation-duration: 1.5s;
}

@keyframes porsche {
    0% {
        transform: scale(10%) translateX(-600px);
    }

    100% {
        transform: scale(100%) translateX(0px);
    }
}

.nissan {
    animation-name: nissan;
    animation-duration: 1.5s;
}

@keyframes nissan {
    0% {
        transform: scale(10%) translateY(-300px);
    }

    100% {
        transform: scale(100%) translateY(0px);
    }
}

.toyota {
    animation-name: toyota;
    animation-duration: 1.5s;
}

@keyframes toyota {
    0% {
        transform: scale(10%) translateX(600px);
    }

    100% {
        transform: scale(100%) translateX(0px);
    }
}

.bmw {
    animation-name: bmw;
    animation-duration: 1.5s;
}

@keyframes bmw {
    0% {
        transform: scale(10%) translateX(-600px);
    }

    100% {
        transform: scale(100%) translateX(0px);
    }
}

.lexus {
    animation-name: lexus;
    animation-duration: 1.5s;
}

@keyframes lexus {
    0% {
        transform: scale(10%) translateY(300px);
    }

    100% {
        transform: scale(100%) translateY(0px);
    }
}

.mercedes {
    animation-name: mercedes;
    animation-duration: 1.5s;
}

@keyframes mercedes {
    0% {
        transform: scale(10%) translateX(600px);
    }

    100% {
        transform: scale(100%) translateX(0px);
    }
}

.box:hover {
    transform: scale(1.1);
    background-color: #b98c55;
    border: 2px solid black;
}

.box:hover img {
    transform: scale(1.1) rotate(3deg);
    transition: all 0.5s ease;
    border-radius: 50%;
}

.box:hover button {
    transform: scale(1.1);
    transition: all 0.5s ease;
    background-color: bisque;
}

.box:hover a {
    color: black;
}

.box:hover h3 {
    transition: all 0.5s ease;
    color: aliceblue;
    font-size: 1.4rem;
}

.box img {
    height: 33%;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    box-shadow: 5px 5px 10px black;
}

.box button {
    width: 120px;
    height: 30px;
    border-radius: 20px 40px;
    border: none;
    cursor: pointer;
    background-color: #8b5e29;
    font-size: 1rem;
    font-style: bold;
    position: relative;
    transition: all 0.3s ease;
}

.box button::after {
    content: "→";
    position: absolute;
    right: 10px;
    opacity: 0;
    transition: all 0.3s ease;

}

.box button:hover::after {
    opacity: 1;
    right: 15px;
}

.box button:hover {
    padding-right: 30px;
}

footer {
    background-color: #683e05;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer1 {
    margin-left: 20px;
    font-weight: bold;
    font-size: 2rem;
}

.footer2 {
    margin-right: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.footerlogo img {
    width: 300px;
    height: 150px;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}




@media (max-width: 576px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    nav a {
        display: none;
    }

    .menu {
        display: block;
    }

    .logo {
        margin: 0 auto;
    }

    .footer1 {
        font-size: 1.2rem;
    }

    .footerlogo {
        display: none;
    }


    @keyframes logo {
        0% {
            transform: scale(1500%) translate(0px, 30px);
        }

        100% {
            transform: scale(100%);
        }
    }

    @keyframes head {
        0% {
            transform: translateX(-300%) rotate(-180deg);
        }

        100% {
            transform: translateX(0%) rotate(0deg);
        }
    }

    .head:hover h1 {
        transform: scale(1.1) rotate(3deg);
        transition: all 0.5s ease;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    nav a {
        display: none;
    }

    .menu {
        display: block;
    }

    .logo {
        margin: 0 auto;
    }

    @keyframes logo {
        0% {
            transform: scale(1500%) translate(0px, 30px);
        }

        100% {
            transform: scale(100%);
        }
    }

    @keyframes head {
        0% {
            transform: translateX(-300%) rotate(-180deg);
        }

        100% {
            transform: translateX(0%) rotate(0deg);
        }
    }

    .head:hover h1 {
        transform: scale(1.2) rotate(3deg);
        transition: all 0.5s ease;
    }
}