body {
    background-color: antiquewhite;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7e582d;
    padding: 0 20px;
}

.logo img {
    width: 150px;
    height: 75px;
}

.logo:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #683e05;
    width: 120px;
    text-align: center;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    background-color: #b98c55;
    transition: all 0.5s ease;
    transform: scale(1.1);
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 500px;
    margin: 0 auto;

}

.head:hover h1 {
    transform: scale(1.2) rotate(3deg);
    transition: all 0.5s ease;
}

h1 {
    color: #68500d;
    font-size: 3rem;
    border: 3px solid #68500d;
    border-radius: 50%;
    padding: 20px;
}

.container {
    max-width: 1200px;
    justify-items: center;
    align-items: center;
    gap: 35px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 5px 10px black;
    width: 300px;
    height: 500px;
    padding: 0 20px;
    gap: 10px;
    background-color: bisque;
    transition: all 0.5s ease;
}

.box:hover {
    transform: scale(1.1);
    background-color: #b98c55;
}

.box:hover img {
    transform: scale(1.1);
    transform: rotate(3deg);
    transition: all 0.5s ease;
}

.box:hover button {
    transform: scale(1.1);
    transition: all 0.5s ease;
    background-color: bisque;
}

.box:hover a {
    color: black;
}

.box:hover h3 {
    transition: all 0.5s ease;
    color: aliceblue;
    font-size: 1.4rem;
}

.box img {
    height: 33%;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
    object-fit: cover;
}

.box button {
    width: 100px;
    height: 30px;
    border-radius: 20px 40px;
    border: none;
    cursor: pointer;
    background-color: #8b5e29;
    font-size: 1rem;
    font-style: bold;
}

@media (max-width: 576px){
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    nav a{
        display: none;
    }
    .logo{
        margin: 0 auto;
    }
}
@media (min-width: 576px) and (max-width: 992px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    nav a{
        display: none;
    }
    .logo{
        margin: 0 auto;
    }
}
